{% extends "_global/index.html" %} {% block main %}
<div class="mt-0">
    <nav>
        <div class="custom-tabed-nav nav nav-tabs pl-4 pr-4" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                aria-controls="nav-about" aria-selected="true">O nama</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Kontakt</a>
        </div>
    </nav>
    <div class="tab-content border-left border-right border-bottom" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <div class="card m-0 border-0 bg-light">
                <div class="card-body">
                    <p class="card-text ml-3">Veb Ankete, povoljno, jednostavno, brzo!
                    </p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="card m-0 border-0 bg-light">
                <div class="card-body">
                    <p class="card-text ml-3">
                        E-Mail: 
                        <br> Telefon:
                        <br> Faks:
                        <br> Lokacija:
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}