{% extends "_global/index.html" %} {% block main %}
<div>
    <nav class="options mb-3 bg-light">
        <a class="mr-3 btn btn-light" href="{{ BASE }}admin/surveys/">Ankete</a>
        <a class="mr-3 btn btn-light" href="{{ BASE }}admin/users/">Korisnici</a>
        <a class="mr-3 btn btn-light" href="{{ BASE }}admin/logout/">Odjava</a>
    </nav>
    {% include 'Templates/showMessage.html' %}
    {% if (msgLvl is not defined) or (msgLvl!=1) %}
    <div class="container mt-3">
        <div class="m-1 row">
            <form method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
                <div class="card">
                    <div class="card-header h3 text-center">
                        Promena lozinke
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label for="input_password_0">Stara lozinka:</label>
                            <input class="form-control" type="password" id="input_password_0" placeholder="Barem 8 karaktera." name="reg_password_old" pattern=".*[^\s]{3,}.*"
                                required placeholder="Unesite staru lozinku.">
                        </div>
        
                        <div class="form-group">
                            <label for="input_password_1">Nova lozinka:</label>
                            <input class="form-control" type="password" id="input_password_1" placeholder="Barem 8 karaktera." name="reg_password_1" pattern=".*[^\s]{3,}.*"
                                required placeholder="Unesite željenu lozinku.">
                        </div>
        
                        <div class="form-group">
                            <label for="input_password_2">Ponovite novu lozinku:</label>
                            <input class="form-control" type="password" id="input_password_2" placeholder="Barem 8 karaktera." name="reg_password_2" pattern=".*[^\s]{3,}.*"
                                required placeholder="Unesite željenu lozinku još jednom.">
                        </div>
        
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-primary" type="submit">
                            Promeni
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}