{% extends "_global/index.html" %} {% block main %}
    <script src="{{ BASE }}assets/js/validateGetEdit.js"></script>
    <nav class="options mb-3 bg-light">
        <a class="mr-3 btn btn-light" href="{{ BASE }}user/surveys">Moje ankete</a>
        <a class="mr-3 btn btn-light" href="{{ BASE }}user/surveys/edit">Dodaj novu anketu</a>
    </nav>
    {% include 'Templates/showMessage.html' %}
    {% if (msgLvl is not defined) or (msgLvl!=1) %}
        {% if (survey is not defined) or survey.is_published == 0 %}
            {% include 'Templates/editSurvey.html' %}
        {% endif %}
        {% if (survey is defined) and survey.is_published == 1 %}
            {% include 'Templates/editPublishedSurvey.html' %}
        {% endif %}
    {% endif %}
{% endblock %}